# Python bytecode
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.dist-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/
*.code-workspace

# PyCharm settings
.idea/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
